<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd
      http://www.springframework.org/schema/tx
	  http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
      http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util-4.2.xsd
      http://www.springframework.org/schema/jee
      http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.2.xsd"
      default-lazy-init="false">

	<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" />

	<context:annotation-config />
	
	<aop:aspectj-autoproxy />
	
	<bean class="com.homolo.toolkit.test.integration.SpringTestConfig" />

	<tx:annotation-driven/>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="org.hsqldb.jdbcDriver"/>
		<property name="jdbcUrl" value="jdbc:hsqldb:mem:toolkit"/>
		<property name="user" value="sa"/>
		<property name="password" value=""/>
		<property name="initialPoolSize" value="5"/>
		<property name="minPoolSize" value="2"/>
		<property name="maxPoolSize" value="10"/>
		<property name="maxIdleTime" value="300"/>
		<property name="maxStatements" value="50"/>
		<property name="acquireIncrement" value="2"/>
	</bean>

	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="jdbc.fetch_size">50</prop>
				<prop key="jdbc.batch_size">125</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</prop>
				<prop key="hibernate.query.substitutions">true 1,false 0</prop>
			</props>
		</property>
		<property name="packagesToScan">
			<ref bean="hibernate.packagesToScan"/>
		</property>
	</bean>
</beans>